---
layout: default
---

<div class="content">
  <div class="edem-bar">
    <a class="edem-logo-wrapper" href="https://edemocracia.camara.leg.br">
      <img class="edem-logo" src="{{site.baseurl}}/assets/images/logo-edem.png" alt="Logo do e-Democracia">
      <img class="edem-logo-text" src="{{site.baseurl}}/assets/images/logo-edem-text.png" alt="e-Democracia">
      </a>
  </div>

  <div class="main-banner">
    <div class="site-logo-wrapper">
      <img class="site-logo" src="{{site.baseurl}}/assets/images/logo-site.png" alt="Dois personagens estilizados ao lado um do outro, um mais novo e um mais velho." >
    </div>
    <div class="main-banner__content">
      <img class="main-banner__title" src="{{site.baseurl}}/assets/images/titulo.png" alt="Reforma da Previdência"></img>
      <p class="main-banner__text">
        A Câmara dos Deputados debate neste momento a Reforma da Previdência, que pode transformar a vida de milhões de brasileiros. Por isso, o portal e-Democracia reuniu aqui todas as informações para você conhecer exatamente o que está sendo discutido, tirar suas dúvidas e colocar a sua opinião. Participe!
      </p>
    </div>
  </div>

  <div class="content-banners">
    {% for banner in site.data.data  %}
      <div class="banner-wrapper {{ banner.class }}">
        <div class="banner-container">
          <div class="banner">
            <div class="banner__content">
              <h2 class="banner__title">{{ banner.title }}</h2>
              <p class="banner__text">{{ banner.text }}</p>
              {% for link in banner.links %}
                <a href="{{ link.link_url }}" class="banner__link">{{ link.link_text }} <i class="banner__link-icon fa fa-chevron-right"></i></a>
              {% endfor %}
            </div>
            <div class="banner__image-wrapper">
              <img src="{{site.baseurl}}/assets/images/{{ banner.image_name }}" class="banner__image"></img>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <footer class="footer">
    <div class="footer__container">
      <div class="footer__logos">
        <a class="footer__logo-wrapper" href="http://www.camara.leg.br">
          <img class="footer__logo image" src="{{site.baseurl}}/assets/images/logo-camara.svg" alt="Logo da Câmara dos Deputados">
        </a>

        <a class="footer__logo-wrapper" href="http://labhackercd.net">
          <img class="footer__logo image" src="{{site.baseurl}}/assets/images/logo-lab.svg" alt="Logo do Labhacker da Câmara dos Deputados">
        </a>
      </div>

      <div class="footer__about">
        <p class="footer__text">
        O portal e-Democracia é uma iniciativa da Câmara dos Deputados que visa ampliar a participação social no processo legislativo e aproximar cidadãos e seus representantes por meio da interação digital.<br>
        Esta versão do portal está em fase de testes. Você pode encaminhar sugestões, indicar erros e ainda, acessar o arquivo de nossa <a class="footer__link" href="http://arquivo.edemocracia.camara.leg.br/">versão anterior</a>
        </p>
      </div>
    </div>
  </footer>


</div>
