.content {
  display: flex;
  flex-direction: column;
}

.edem-logo {
  height: 2.5em;
}

.edem-logo-text {
  height: 1.5em;
  margin-left: 12px;
}

.edem-bar {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0d2625 0%, #134836 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  position: relative;
}

.edem-logo-wrapper {
  display: flex;
  align-items: center;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em;
  background-color: #ffd853;
  background: radial-gradient(circle at left 50% top 30%, #ffdc70 50%, #ffd853 0);

  @media screen and (min-width: 860px) {
    flex-direction: row;
    background-color: #ffd853;
    background: radial-gradient(circle at left 30vw top 50%, #ffdc70 35%, #ffd853 0);
  }
}

.main-banner__text {
  font-weight: 700;
  font-size: 1.2em;
  color: #474747;
  margin: 0;

  @media screen and (min-width: 860px) {
    font-size: 1.4em;
  }
}

.main-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 738px;
}

.main-banner__title {
  max-width: 100%;
  margin-bottom: 1em;
}

.site-logo {
  max-width: 100%;
  height: auto;
  padding: 0 2em;
  margin-bottom: 1em;
}

.site-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  margin-top: 1em;
  @include bannerVariable('background-color', 'banner-bg-color');
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;

  @media screen and (min-width: 860px) {
    flex-direction: row;
    align-items: center;
    width: 860px;
    margin: 0 auto;

    .banner-wrapper:nth-child(odd) & {
      flex-direction: row-reverse;
    }
  }
}

.banner__image-wrapper {
  display: flex;align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  @include bannerVariable('background-color', 'image-bg-color');

  @media screen and (min-width: 860px) {
    flex: 1 0 12em;
    margin: 0 1em;
    min-height: 15em;
    align-self: stretch;
  }
}

.banner__image {
  max-width: 100%;
  height: 10em;
  width: auto;
  display: inline-flex;
  padding: 0 2em;
  margin: 1.5em 0;

  @media screen and (min-width: 860px) {
    height: initial;
    width: initial;
  }
}

.banner__title {
  display: flex;
  color: #4b4b4b;
  padding: 0.25em;
  font-weight: 700;
  margin: 0;
  @include bannerVariable('background-color', 'title-bg-color');

}

.banner__text {
  color: #4b4b4b;
  font-weight: 400;
}

.banner__link {
  color: #416b5c;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.banner__link-icon {
  margin-left: 0.5em;
  @include bannerVariable('color', 'link-pip-color');
}

.banner__content {
  margin: 2.5em 1em;
}

.footer {
  padding: 3em 1em;
  background-color: #213d4d;
  color: white;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 860px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5rem 0;

  @media screen and (min-width: 860px) {
    flex: 1 0 auto;
  }
}

.footer__logo-wrapper {
  margin: 1rem;
}

.footer__logo.image {
  height: 3rem;
}

.footer__about {
  margin: 0.5rem 0;

  @media screen and (min-width: 860px) {
    flex: 0 1 50%;
  }
}

.footer__text {
  margin: 0;
  font-weight: 300;
}

.footer__link {
  color: #e9c23a;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: darken(#e9c23a, 20%);
  }
}
