@import url('https://fonts.googleapis.com/css?family=Passion+One');

@keyframes slide-down {
  0% {transform: translate(50%, -100%);}
  75% {transform: translate(50%, -100%);}
  100% {transform: translate(50%, 0);}
}

.info-banner {
  align-items: center;
  animation: slide-down 2s cubic-bezier(0.55, 0, 0.1, 1);
  background-color: #ffd853;
  background: radial-gradient(circle at left 15% top 50%, #ffdc70 20%, #ffd853 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
  display: flex;
  height: 70px;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px 32px;
  position: absolute;
  right: 50%;
  text-decoration: none;
  transform: translate(50%, 0);
  width: 640px;
}

.info-banner__image {
  height: 175%;
  margin-top: 10px;
}

.info-banner__text {
  color: #6c4b0c;
  font-family: 'Passion One','Open Sans', sans-serif;
  font-size: 32px;
  line-height: 26px;
  margin: 0 1em;
  text-align: center;
}

.info-banner__pip {
  height: 56px;
}