$banners: (
  expressao: (
    banner-bg-color: white,
    title-bg-color: #dcf4dd,
    image-bg-color: #e4e4e4,
    link-pip-color: #518a51
  ),

  faq: (
    banner-bg-color: #9bdbbf,
    title-bg-color: #ffb449,
    image-bg-color: #069578,
    link-pip-color: #fdb449
  ),

  wikilegis: (
    banner-bg-color: #c4edc8,
    title-bg-color: #dcf4dd,
    image-bg-color: #3c6a5c,
    link-pip-color: #00caa2
  ),

  audiencias: (
    banner-bg-color: #d3e9f5,
    title-bg-color: #fbc707,
    image-bg-color: #2a3d5e,
    link-pip-color: #3d9bca
  ),
);

@mixin bannerVariable($cssAttribute, $mapKey) {
  @each $name, $attributes in $banners {
    .banner-wrapper.#{$name} & {
      #{$cssAttribute}: map-get($attributes, $mapKey);
    }
  }
}
